@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
.wrap{
    width: 100%;    
}

/* 스크린 */
.screen{    
    padding:0 20px;
    text-align: right;
    box-sizing: border-box;
}
.formula{
    width: 100%;
    height: 32px;
    line-height:32px;
    font-size:18px;
    color:#888;
}
.result{
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size:35px;
    font-weight: bold;
    color:#262626;
}

/* 계산기 버튼 */
#calculator{
    width: 100%;    
}
#calculator .container{
    margin:0 auto;
    width: 400px;
    padding:20px 10px;
    box-sizing: border-box;
}
#calculator table{    
    width: 100%;
    table-layout: fixed;    
    text-align: center;
    vertical-align: middle;
    border-spacing: 20px;
    border-collapse: separate;   
}
#calculator td{     
    line-height:70px;
    border-radius:25px;
    font-weight: bold;
    background-color:#fafafa;
    box-sizing: border-box;
    cursor: pointer;
}
#calculator .func{
    color:#61cea6;
    background-color:#e9f8f3;
}
#calculator .rs{
    color:#d0011b;
    background-color: #f8d9dd;
}