@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --slide-width:400px;
    --slide-height:450px;
    --slide-margin:15px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrap {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.slide-container {
    position: relative;
    width: 100%;
    height: 500px;    
}


.slide-list {
    position: absolute;
    left:0;
    top:0;    
    width: calc(10 * var(--slide-width) + 20 * var(--slide-margin) );
    padding:25px 0;
    box-sizing: border-box;
}

.slide {
    float:left;
    position: relative;
    margin:0 var(--slide-margin);
    padding:var(--slide-margin) 20px;
    width: var(--slide-width);
    height: var(--slide-height);
    text-align: center;
    border:15px solid #fc0;
    border-radius:3px;
    box-sizing: border-box;
}

.slide-contents {        
    height: 100%;
    padding:var(--slide-margin) 0;
    background-color: rgb(211, 241, 211);
    border:5px solid #fff;
    border-radius:15px;
    box-sizing: border-box;
}

.slide-contents h2 {
    padding:10px 0 25px;
    font-size: 35px;
    text-transform: uppercase;
}

.slide-contents p {    
    text-align: left;    
    padding:0 var(--slide-margin);
    box-sizing: border-box;
}

.hero { 
    margin:0 auto;
    width: 108px;
    height: 140px;
    background: url(./img/scottpilgrim_multiple.png) no-repeat 0 0;  
    animation: heroMove .7s steps(7) infinite;    
}

@keyframes heroMove {
    100% { 
        background-position-x:-756px;
    }
}

.slide-bar {
    width: 100%;    
    padding:0 var(--slide-margin);
    box-sizing: border-box;    
}

.bar {
    height: 5px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(254,113,210,1) 0%, rgba(184,96,255,1) 90% );
    border-radius:5px;
}